.Stitle{
    position: relative;
    display: flex;
    padding: 50px 250px;
}
.BG-text{
    position: absolute;
    font-size: 150px;
    font-weight: 900;
    filter: blur(4px);
    color: #f5f6fa;
}
.S-title{
    position: absolute;
    top: 110px;
    right: 560px;
    font-size: 70px;
    font-weight: 400;
    color: #d83536;
} 